body {
    font-family: Arial;
    text-align: center;
    background-color: #0b1c2c;
    color: white;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    margin: auto;
    margin-top: 20px;
    background: white;
    color: black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}
